@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --primary-font: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: var(--primary-font);
    letter-spacing: 0.05rem;
    text-decoration: none;
}

body {
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.header-bg {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 74.5%;
    background-color: rgb(254, 93, 122, 0.15);
    z-index: -1;
}

.wrapper {
    display: flex;
    flex-flow: column;
    gap: 7rem;
    padding: 1rem 5rem 0 5rem;
}

.top {
    display: flex;
    flex-flow: column;
    gap: 10rem;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    /* border: 2px solid; */
    display: flex;
    align-items: center;
}

.logo img {
    /* border: 2px solid red; */
    margin-left: -1.1rem;
}

.logo div {
    font-size: 1.2rem;
    font-weight: 600;
    color: #1a1c20;
    margin: -0.2rem;
    /* border: 2px solid green; */
}

nav {
    /* border: 2px solid red; */
    margin: 1rem 0 0 -1.4rem;
}

nav ul {
    margin: 0;
    padding: 0;
    /* border: 2px solid blue; */
}

nav li {
    /* border: 1px solid; */
    list-style-type: none;
    display: inline-block;
    margin: 0 1.3rem;
    font-size: 0.8rem;
    color: #1a1c20;
}

nav ul li:first-child {
    font-weight: 600;
}

nav a {
    color: #1a1c20;
}

nav a:hover{
    font-size: 0.85rem;
    color: #FE5D7A;
}

nav li div {
    border-radius: 50%;
    background-color: #1a1c20;
    height: 4px;
    width: 4px;
    margin: 0.5rem auto;
}

nav li div:hover{
    background-color: #FE5D7A;
    height: 5px;
    width: 5px;
}

.header-right-corner {
    /* border: 2px solid; */
    display: flex;
    align-items: center;
    gap: 3rem;
}

.header-right-corner .fa-search {
    /* border: 2px solid blue; */
    font-size: 20px;
    color: #1a1c20;
}

.header-right-corner button {
    border: none;
    width: 5.7rem;
    height: 2.2rem;
    font-size: 0.75rem;
    border-radius: 20px;
    background-color: #1a1c20;
    color: white;
    cursor: pointer;
}

.hero-text {
    /* border: 3px solid; */
    font-size: 2.7rem;
    text-align: center;
    letter-spacing: 0.095rem;
    line-height: 3.5rem;
    color: #1a1c20;
    width: 36rem;
    margin: auto auto -3rem auto;
}

.search-bar {
    /* border: 3px solid; */
    display: flex;
    justify-content: center;
}

.search-bar .fa-search {
    border: 2px solid #1a1c20;
    color: #aaaaaa;
    background-color: white;
    border-top-left-radius: 27px;
    border-bottom-left-radius: 27px;
    border-right: none;
    width: 3rem;
    padding: 1rem;
    box-shadow: 5px 5px 8px #1a1c202a;
}

#search {
    border: 2px solid #1a1c20;
    width: 35rem;
    border-top-right-radius: 27px;
    border-bottom-right-radius: 27px;
    border-left: none;
    box-shadow: 5px 5px 5px #1a1c202a;
}

.popular-books,
.subjects,
.recently-added {
    display: flex;
    flex-flow: column;
    gap: 3rem;
}

.popular,
.subject,
.recent {
    display: flex;
    justify-content: space-between;
}

.popular-now,
.view-all,
.sub,
.recently {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.popular-now div,
.sub div,
.recently div {
    font-size: 1.2rem;
    font-weight: 600;
}

.view-all div {
    font-size: 0.8rem;
}

.view-all .fa-chevron-right {
    font-size: 0.8rem;
}

.books,
.subjects-box,
.recent-books {
    display: flex;
    justify-content: space-between;
}

.book,
.subject-image-box,
.recent-book {
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.book-image,
.subject-image {
    border: 2px solid #1a1c20;
    border-radius: 12px;
    height: 250px;
    box-shadow: 5px 5px 5px #1a1c202a;
}

.book-name,
.subject-name {
    width: 200px;
    color: #1a1c20;
}

.subject-image {
    width: 350px;
}

.ch {
    font-size: 0.7rem;
    color: #FE5D7A;
}

.question-box {
    background-color: rgb(126, 93, 237, 0.5);
    border: 4px solid #1a1c20;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    width: 48rem;
    height: 20rem;
    margin: auto;
    box-shadow: 5px 5px 5px #1a1c202a;
}

.question-box-text {
    display: flex;
    flex-flow: column;
    gap: 2.9rem;
    width: 20rem;
    margin-right: -1rem;
}

.question {
    color: #1a1c20;
    font-size: 1.5rem;
    font-weight: 600;
}

.question-text {
    color: #1a1c20;
    font-size: 0.8rem;
    line-height: 1.4rem;
}

.question-box-text button {
    width: 10rem;
    height: 3rem;
    border: none;
    border-radius: 25px;
    background-color: #1a1c20;
    color: white;
    font-size: 0.75rem;
    cursor: pointer;
    box-shadow: 4px 4px 4px #1a1c2081;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.footer-logo-box {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 5rem;
}

.ft-logo {
    display: flex;
    flex-flow: column;
    gap: 0.4rem;
}

.ft-logo img {
    margin: auto;
}

.ft-logo-text {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

.tagline {
    text-align: center;
    font-size: 0.6rem;
}

.social-media-icons {
    display: flex;
    justify-content: space-evenly;
}

.social-media-icons a {
    color: #1a1c20;
}

.ft-navs {
    display: flex;
    gap: 10rem;
    padding: 0.5rem 0 0 0;
}

.ft-nav-one {
    display: flex;
    flex-flow: column;
    gap: 1.7rem;
}

.ft-nav-two {
    display: flex;
    flex-flow: column;
    gap: 1.7rem;
}

.ft-navs a {
    font-size: 0.9rem;
    color: #1a1c20;
}

.ft-end {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    justify-content: end;
}

.made-with-love {
    display: flex;
    gap: 0.35rem;
    justify-content: center;
    align-items: baseline;
}

.made-with-love div {
    font-size: 0.6rem;
}

.fa-heart {
    font-size: 0.6rem;
}

.copyright {
    font-size: 0.6rem;
}

.footer-bg {
    position: absolute;
    top: 157.7rem;
    bottom: 0px;
    width: 100%;
    height: 47.7%;
    background-color: rgb(254, 93, 122, 0.15);
    z-index: -1;
}