@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --primary-font: 'Inter', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: var(--primary-font);
    letter-spacing: 0.05rem;
    text-decoration: none;
}

body {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-flow: column;
    gap: 3rem;
}

header {
    background-color: rgb(254, 93, 122, 0.15);
    /* border: 2px solid red; */
    display: flex;
    flex-flow: column;
    gap: 10rem;
    padding: 0.8rem 5rem 6rem 5rem;
}

.top-bar {
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    /* border: 2px solid; */
    align-items: center;
}

.logo img {
    /* border: 2px solid; */
    margin-left: -1.1rem;
}

.logo div {
    /* border: 2px solid; */
    font-size: 1.2rem;
    font-weight: 600;
    color: #1a1c20;
    margin: -0.2rem;
}

nav {
    /* border: 2px solid; */
    margin: 0 0 0 -9rem;
}

ul {
    /* border: 2px solid red; */
    margin: 0;
    padding: 1.15rem 0;
}

li {
    /* border: 2px solid blue; */
    list-style-type: none;
    display: inline-block;
    margin: 0 1.3rem;
    font-size: 0.8rem;
}

li div {
    border-radius: 50%;
    background-color: #1a1c20;
    height: 4px;
    width: 4px;
    margin: 0.5rem auto;
}

a {
    color: #1a1c20;
}

nav a:hover {
    font-size: 0.85rem;
    color: #FE5D7A;
}

.fa-search {
    /* border: 2px solid; */
    font-size: 20px;
    color: #1a1c20;
}

h2 {
    /* border: 2px solid  brown; */
    font-size: 1.8rem;
    margin: 0;
    text-align: center;
}

.form-area {
    align-items: center;
    background-color: rgb(126, 93, 237, 0.5);
    border: 4px solid #1a1c20;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px #1a1c202a;
    display: flex;
    flex-flow: column;
    gap: 2rem;
    height: 33rem;
    margin: auto;
    padding: 4rem 3rem 0 3rem;
    width: 30rem;
}

.input-fields {
    display: flex;
    flex-flow: column;
    gap: 1.5rem;
}

input {
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem;
    width: 20rem;
}

.btn1,
.btn2 {
    background-color: #1a1c20;
    border: none;
    border-radius: 2rem;
    box-shadow: 5px 5px 5px #1a1c202a;
    color: white;
    cursor: pointer;
    width: 9rem;
    height: 3rem;
    font-size: 0.7rem;
}

.btn1:hover,
.btn2:hover {
    transform: scale(1.03);
}

.or-option {
    display: flex;
    flex-flow: column;
    gap: 3.5rem;
    margin-top: 5rem;
}

.or-text {
    font-size: 0.7rem;
    color: #1a1c20;
    text-align: center;
}

.social-media {
    cursor: pointer;
    display: flex;
    font-size: 1.5rem;
    gap: 3rem;
    justify-content: center;
}

.social-media .fa-facebook:hover,
.social-media .fa-twitter:hover,
.fa-google:hover {
    font-size: 1.6rem;
}

footer {
    background-color: rgb(254, 93, 122, 0.15);
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem 1rem 5rem;
}

.footer-logo-box {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 5rem;
}

.ft-logo {
    display: flex;
    flex-flow: column;
    gap: 0.4rem;
}

.ft-logo img {
    cursor: pointer;
    margin: auto;
}

.ft-logo-text {
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

.tagline {
    text-align: center;
    font-size: 0.6rem;
}

.social-media-icons {
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
}

.ft-navs {
    display: flex;
    gap: 10rem;
    padding: 0.5rem 0 0 0;
}

.ft-nav-one {
    display: flex;
    flex-flow: column;
    gap: 1.7rem;
}

.ft-nav-two {
    display: flex;
    flex-flow: column;
    gap: 1.7rem;
}

.ft-navs a {
    font-size: 0.9rem;
    color: #1a1c20;
}

.ft-end {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    justify-content: end;
}

.made-with-love {
    display: flex;
    gap: 0.35rem;
    justify-content: center;
    align-items: baseline;
}

.made-with-love div {
    font-size: 0.6rem;
}

.fa-heart {
    font-size: 0.6rem;
}

.copyright {
    font-size: 0.6rem;
}


/* About page css */

.about-box {
    display: flex;
    gap: 2rem;
    padding: 0 7rem;
}

.about-text-box {
    /* border: 3px solid red; */
    display: flex;
    flex-flow: column;
    gap: 5rem;
    justify-content: center;
}

.about-text {
    width: 33rem;
    line-height: 1.5rem;
}